/*==============================================
[Magenta color stylesheet magenta.css]

Author:	SINDEVO.COM - Smart Internet Development
Template:	Mobix - Mobile Web APP Template
================================================*/

/*===============================================*/
/* MAIN COLOR */
/*===============================================*/	
a, blockquote span {
color: #222222;
}
a.button_full, a.button_small, .call_button a{
background-color:#1a8bd4; 
}
.button {
border: 1px solid #cccbcb;
color: #222222;
}
.button.active {
background: #1a8bd4;
}
#pages_maincontent h3{
color:#222222;
}
.photo-categories a.active{
background-color:#1a8bd4;
}
.post_date{
color:#1a8bd4;
}
.list-block .swipeout-actions-left a,
.list-block .swipeout-actions-right a {
background: #833545;
}
.contactform input.form_submit, .loginform input.form_submit, .commentform input.form_submit{ 
background-color:#1a8bd4;
}
ul.responsive_table li:first-child{
background-color:#833545;
color:#FFFFFF;
}
li.table_row{
background-color:#e6e6e6;
}
.blog_nav a{
background-color:#1d96e4;
}

/*===============================================*/
/* HOME BG AND PAGES HEADER BG */
/*===============================================*/	
.homepage{
background: url(../../images/colors/magenta/bg2.jpg) no-repeat center center;
background-attachment:fixed;
-webkit-background-size: 100%; 
-moz-background-size: 100%;
-o-background-size: 100%;
background-size: 100%;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover; 
background-size: cover;
}
.navbarpages{
background:url(../../images/colors/magenta/header2.jpg) no-repeat center center;
}
/*===============================================*/
/* MAIN NAV LINKS */
/*===============================================*/	
.main-nav ul li{
background: #1d96e4;
border-bottom:0px #692c46 solid;
}
.main-nav ul li a{
color:#ffffff;
}
/*===============================================*/
/* POPUPS AND TOOLBAR */
/*===============================================*/	
.popup, .page_content_menu{
background: #1a8bd4;
}
.popup-login, .popup-signup, .popup-forgot{
background-color:#263239;
}
.toolbar:before {
  background-color: #1a8bd4;
}
.navbar,
.toolbar,
.subnavbar {
  background: #49182d;
}
/*===============================================*/
/* LEFT AND RIGHT SLIDE PANEL */
/*===============================================*/	
.panel {
background:#1a8bd4;
}
.user-nav ul li, ul.popular_posts li{
border-bottom:1px #8cbede solid;
}
/* MENU OPENER ICON */
ul.toolbar_icons li.menuicon{
background-color:#1d96e4;
}

/* PANEL CLOSE BUTTON */
.close_popup_button a{
background-color:#1d96e4;
}